<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/angular-material/themes/green-theme.css">
    <link rel="stylesheet" href="css/style.css">
</head>
    <body ng-app="CommentApp">

<div ng-controller="HomeCtrl">

    <md-sidenav md-component-id="left" class="md-sidenav-left">
        <md-toolbar md-theme="green">
            <h1 class="md-toolbar-tools">The Comment</h1>
        </md-toolbar>
        <md-content class="md-padding" ng-controller="LeftCtrl">
            <div ng-show="!isLogged">
                <md-button class="md-raised md-primary" ng-click="login()">Login With Facebook</md-button>
            </div>
            <div ng-show="isLogged">
                {{user.auth.facebook.cachedUserProfile.name}}
                <img ng-src="{{user.auth.facebook.cachedUserProfile.picture.data.url}}" alt="">
                <div>
                    <md-button class="md-raised md-primary" ng-click="logout()">Logout</md-button>
                </div>
            </div>
        </md-content>
    </md-sidenav>

    <div layout="column" layout-fill>
    
        <md-toolbar md-theme="green" flex>
            <div class="md-toolbar-tools">
                <button class="menu-icon" aria-label="Toggle Menu">
                    <i class="fa fa-bars" ng-click="openLeftMenu()"></i>
                </button>
                <h3>
                    <span>The Comment</span>
                </h3>
            </div>
        </md-toolbar>

        <md-content class="md-padding list" flex>
            <md-list>
                <md-item ng-repeat="item in comments">
                    <md-item-content>
                        <div class="md-tile-left">
                            <img ng-src="{{item.face}}" class="face" alt="{{item.who}}">
                        </div>
                        <div class="md-tile-content">
                            <h3>{{item.what}}</h3>
                            <h4>{{item.who}}</h4>
                            <p>
                                {{item.what}} itu bro, {{item.notes}}
                            </p>
                        </div>
                        <div class="vote" layout="column">
                            <span flex><i class="fa fa-thumbs-up"></i> {{item.like}}</span>
                            <span flex><i class="fa fa-thumbs-down"></i> {{item.dislike}}</span>
                        </div>
                        <md-button class="md-fab md-primary" md-theme="green" aria-label="Profile" style="margin-top:-12px" ng-click="showGridBottomSheet($event, item.$id)">
                            <i class="fa fa-chevron-down"></i>
                        </md-button>
                    </md-item-content>
                    <md-divider md-inset ng-if="!$last"></md-divider>
                </md-item>
            </md-list>
        </md-content>

    </div>
</div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/hammerjs/hammer.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="js/lib/angular-resource.min.js"></script>
    <script src="js/lib/firebase.js"></script>
    <script src="js/lib/angularfire.min.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/services.js"></script>

</body>
</html>